---
import Layout from "../layouts/Layout.astro";
import sanityClient from "../utils/sanity.ts";
import { mapToVariables } from "../utils/variables.ts";

const { id = "" } = Astro.params;

const query = `*[_type == "page" && _id == $id][0] {
  ...,
  "sections": sections[]{
    ...,
    "image": image.asset -> url,
  }
}`;


const sanityData = await sanityClient.fetch(query, { id: id });
const data = mapToVariables(sanityData);
---

<Layout title="Vev Sanity Astro">
  <main>
    {
      data.map((d, i) => (
      <>
        <div id={d.id}></div>
        <script type="module" is:inline define:vars={{ data: d }}>
          import { init } from "https://qwiker-test.vev.design/p/6A5lyRJAZs/hero/embed.js";
          init({
            target: data.id,
            vars: data.variables,
          });
        </script>
      </>
      ))
    }
  </main>
</Layout>

<style>
  main {
    margin: auto;
  }
</style>
