---
import Layout from "../layouts/Layout.astro";
import sanityClient from "../utils/sanity.ts";
import { mapToVariables } from "../utils/variables.ts";

const { id = "" } = Astro.params;

const query = `*[_type == "page" && _id == $id][0] {
  ...,
  "sections": sections[]{
    ...,
    "image": {
      "url": image.asset -> url,
      "alt": image.alt
    },
  }
}`;

const isProduction = id.includes('draft') ? false : true;
const sanityData = await sanityClient.fetch(query, { id: id }, { useCdn: isProduction });
const data = mapToVariables(sanityData);
---

<Layout title="Vev Sanity Astro">
  <main>
    {
      data.map((d, i) => (
      <>
        <section id={d.id}></section>
        <script type="module" is:inline define:vars={{ data: d, i }}>
          const url = `/vev/${data.component}/embed.js`;
          const { init } = await import(url);
          init({
              target: data.id,
              vars: data.variables,
            });
        </script>
      </>
      ))
    }
  </main>
</Layout>

<style>
  main {
    margin: auto;
  }
</style>
