---
import Layout from "../layouts/Layout.astro";
import sanityClient from "../utils/sanity.ts";
import { mapToVariables } from "../utils/variables.ts";

const { id = "" } = Astro.params;

const query = `*[_type == "page" && _id == $id][0] {
  ...,
  "sections": sections[]{
    ...,
    "image": {
      "url": image.asset -> url,
      "alt": image.alt
    },
  }
}`;

const isProduction = id.includes("draft") ? false : true;
const sanityData = await sanityClient.fetch(
  query,
  { id: id },
  { useCdn: isProduction }
);
const data = mapToVariables(sanityData);
---

<Layout title="Vev Sanity Astro">
  <main>
    {
      data.map((d, i) => (
        <>
          <script
            src={`/vev/${d.component}/embed.js`}
            is:inline
            set:html={JSON.stringify(d.variables)}
          />
          <div>
            {Object.values(d.variables)
              .filter((d: any) => d.type === "text")
              .map((d: any) => (
                <p>{d.value}</p>
              ))}
          </div>
        </>
      ))
    }
  </main>
</Layout>

<style>
  main {
    margin: auto;
  }
</style>
