---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Vev Sanity Astro">
  <h1>Vev * Sanity * Astro</h1>
  <p>Go to <code>/sanity-page-id</code></p>
</Layout>

<style>
  main {
    margin: auto;
  }
</style>
