---
import Layout from "../layouts/Layout.astro";
import VevEmbed from "../components/VevEmbed.tsx";
---

<Layout title="Vev Sanity Astro">
  <h1>Vev * Sanity * Astro</h1>
  <p>Go to <code>/sanity-id</code></p>
  <VevEmbed id="block" component="hero" />
</Layout>

<style>
  main {
    margin: auto;
  }
</style>
