---
import Layout from "../layouts/Layout.astro";
import { sanityClient } from "sanity:client";
import VevEmbed from "../components/VevEmbed.tsx";
import { mapToVariables } from "../utils/variables.ts";

const data: any[] = mapToVariables(
  await sanityClient.fetch(`*[_type == "page"][0]{
  ...,
  "sections": sections[]{
    ...,
    "image": image.asset -> url,
  }
}`)
);
console.log("after", JSON.stringify(data, null, 2));
---

<Layout title="Vev Sanity Astro">
  <main>
    {
      data.map((d, i) => (
        <VevEmbed
          id={d.id}
          component={d.component}
          variables={d.variables}
          client:load
        />
      ))
    }
  </main>
</Layout>

<style>
  main {
    margin: auto;
  }
</style>
